# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [1]:
import pandas as pd
recipes = pd.read_csv("recipes_sample.csv", header=0)
reviews = pd.read_csv("reviews_sample.csv", header=0)
reviews.rename( columns={'Unnamed: 0' :  "Индексы"}, inplace=1)
print(reviews)

        Индексы     user_id  recipe_id        date  rating  \
0        370476       21752      57993  2003-05-01       5
1        624300      431813     142201  2007-09-16       5
2        187037      400708     252013  2008-01-10       4
3        706134  2001852463     404716  2017-12-11       5
4        312179       95810     129396  2008-03-14       5
...         ...         ...        ...         ...     ...
126691  1013457     1270706     335534  2009-05-17       4
126692   158736     2282344       8701  2012-06-03       0
126693  1059834      689540     222001  2008-04-08       5
126694   453285  2000242659     354979  2015-06-02       5
126695   691207      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [2]:
print(f"recipes строк - {len(recipes.index)}")
print(f"reviews строк - {len(reviews.index)}")
print(f"recipes столбцов - {len(recipes.columns)}")
print(f"reviews столбцоы - {len(reviews.columns)}")
print("*"*20)
print(f"recipes столбцы\n{recipes.dtypes}")
print("*"*20)
print(f"reviews столбцы\n{reviews.dtypes}")

recipes строк - 30000
reviews строк - 126696
recipes столбцов - 8
reviews столбцоы - 6
********************
recipes столбцы
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object
********************
reviews столбцы
Индексы       int64
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [3]:
#print(f"{recipes.isnull().sum(axis=1)}")
#print(f"{reviews.isnull().sum(axis=1)}")
print(f"% пропусков в recipes - {(recipes.isnull().any(axis=1).sum() / len(recipes.index)) * 100:.3f}%")
print(f"% пропусков в reviews - {(reviews.isnull().any(axis=1).sum() / len(reviews.index)) * 100:.3f}%")

% пропусков в recipes - 56.847%
% пропусков в reviews - 0.013%

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [4]:
print(f"{recipes.mean(numeric_only=1)}")
print('*'*30)
print(f"{reviews.mean(numeric_only=1)}")

id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64
******************************
Индексы      5.660898e+05
user_id      1.408013e+08
recipe_id    1.600944e+05
rating       4.410802e+00
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [5]:
temp = recipes['name'].sample(10)
print(temp)

4421                      cajun style dirty rice
25976            strawberries and cream cocktail
17651       mignon s rice and broccoli casserole
8209      creamy chicken and rice in a crock pot
19884                    parmesan white bean dip
20313                    peanut lime vinaigrette
23408                saucy summer squash skillet
17002    marbled chocolate peanut butter cookies
10832                    fat free vegetable soup
1172       artichoke sausage stuffing   dressing
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [16]:
import numpy as np
reviews.iloc[:, 0] = np.arange(len(reviews))
(reviews)

,Индексы,user_id,recipe_id,date,rating,review
0,0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [7]:
new_recipes = recipes[(recipes["minutes"]<= 20) & (recipes["n_ingredients"] <= 5)]
print(new_recipes)

                                                    name      id  minutes  \
28                                   quick biscuit bread  302399       20
60                         peas  fit for a king or queen  303944       20
90                     hawaiian sunrise           mimosa  100837        5
91            tasty dish s   banana pudding in 2 minutes  286484        2
94                                    1 minute meatballs   11361       13
...                                                  ...     ...      ...
29873  zip and steam red potatoes with butter and garlic  304922       13
29874                          ziplock vanilla ice cream   74250       10
29905                      zucchini and corn with cheese  256177       15
29980               zucchini with jalapeno monterey jack  320622       10
29983                          zucchini with serrano ham  162411       15

       contributor_id   submitted  n_steps  \
28             213909  2008-05-06     11.0
60             213909  2008-05-16      NaN
90              58104  2004-09-29      4.0
91              47892  2008-02-13      NaN
94               4470  2001-09-03      NaN
...               ...         ...      ...
29873          724218  2008-05-27      9.0
29874           24386  2003-10-29      8.0
29905          305531  2007-09-29      4.0
29980          305531  2008-08-20      3.0
29983          152500  2006-03-31      6.0

                                             description  n_ingredients
28     this is a wonderful quick bread to make as an ...            5.0
60     this recipe is so simple and the flavors are s...            5.0
90     pineapple mimosa was changed to hawaiian sunri...            3.0
91     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94     this is a real short cut for cooks in a hurry....            2.0
...                                                  ...            ...
29873  i haven't tried this yet, but i am going to so...            5.0
29874  a fun thing for kids to do. may want to use mi...            3.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29980                                  simple and yummy!            3.0
29983  this dish is from tim malzer, a german chef wh...            5.0

[2019 rows x 8 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [8]:
recipes = pd.read_csv("recipes_sample.csv", parse_dates=['submitted'], delimiter=',', header=0)
print(recipes)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [9]:
recipes_2010 = recipes[recipes['submitted'].dt.year <= 2010]
print(recipes_2010)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29993                     zuni caf zucchini pickles  316950     2895
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29993           62264 2008-07-31      NaN
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29993  refrigerator pickles for some of the zucchini ...            8.0
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[27661 rows x 8 columns]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [10]:
recipes['description_length'] = recipes['description'].str.len()
print(recipes)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_length
0                   330.0
1                   255.0
2                    39.0
3                   154.0
4                   587.0
...                   ...
29995               484.0
29996               286.0
29997               311.0
29998               648.0
29999               125.0

[30000 rows x 9 columns]

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [11]:
recipes['name'] = recipes['name'].str.capitalize()
print(recipes)

                                               name      id  minutes  \
0             George s at the cove  black bean soup   44123       90
1                Healthy for them  yogurt popsicles   67664       10
2                      I can t believe it s spinach   38798       30
3                              Italian  gut busters   35173       45
4          Love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  Zurie s holey rustic olive and cheddar bread  267661       80
29996          Zwetschgenkuchen  bavarian plum cake  386977      240
29997   Zwiebelkuchen   southwest german onion cake  103312       75
29998                                   Zydeco soup  486161       60
29999        Cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_length
0                   330.0
1                   255.0
2                    39.0
3                   154.0
4                   587.0
...                   ...
29995               484.0
29996               286.0
29997               311.0
29998               648.0
29999               125.0

[30000 rows x 9 columns]

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [12]:
recipes['name_word_count'] = recipes['name'].str.split().str.len()
print(recipes)

                                               name      id  minutes  \
0             George s at the cove  black bean soup   44123       90
1                Healthy for them  yogurt popsicles   67664       10
2                      I can t believe it s spinach   38798       30
3                              Italian  gut busters   35173       45
4          Love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  Zurie s holey rustic olive and cheddar bread  267661       80
29996          Zwetschgenkuchen  bavarian plum cake  386977      240
29997   Zwiebelkuchen   southwest german onion cake  103312       75
29998                                   Zydeco soup  486161       60
29999        Cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_length  name_word_count
0                   330.0                8
1                   255.0                5
2                    39.0                7
3                   154.0                3
4                   587.0                8
...                   ...              ...
29995               484.0                8
29996               286.0                4
29997               311.0                5
29998               648.0                2
29999               125.0                7

[30000 rows x 10 columns]

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [13]:
count = recipes['contributor_id'].value_counts()
max_id = count.idxmax()
max_count = count.max()
print(f"Id - {max_id} рецептов - {max_count}")

Id - 89831 рецептов - 421

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [14]:
rate = reviews.groupby('recipe_id')['rating'].mean()
#print(rate)
s_otzivami = reviews[reviews['rating'].notnull() & reviews['review'].notnull()]['recipe_id']
bez_otzivov = len(recipes.index) - len(set(s_otzivami))
print(bez_otzivov)

1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [15]:
years = recipes['submitted'].dt.year.value_counts()
print(years)

submitted
2007    4429
2008    4029
2006    3473
2005    3130
2009    2963
2002    2644
2003    2334
2004    2153
2010    1538
2011     922
2012     659
2001     589
2013     490
1999     275
2014     139
2000     104
2015      42
2017      39
2016      24
2018      24
Name: count, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [18]:
merged_df = recipes.merge(reviews, left_on='id', right_on='recipe_id').loc[:, ['id', 'name', 'user_id', 'rating']]
merged_df.head()

merged_df = pd.merge(recipes, reviews, left_on='id', right_on='recipe_id')

merged_df = merged_df.dropna(subset=['rating'])

result_df = merged_df[['id', 'name', 'user_id', 'rating']]
merged_df.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,Индексы,user_id,recipe_id,date,rating,review
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,38296,743566,44123,2008-01-28,5,I lived in San Diego for 19 years and would g...
1,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,52065,76503,44123,2003-06-03,5,This soup is the Bomb! Don't hesitate to try.....
2,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,67654,34206,44123,2003-03-23,5,I just can't say enough about how wonderful th...
3,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5,3337,494084,67664,2012-09-26,5,These are great! I use 100% (organic) juice a...
4,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5,8955,303445,67664,2012-03-31,5,"Very, very good. My son loves these. He like..."

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [19]:
merged_df['review_count'] = merged_df.groupby('id').count()['rating']
merged_df = merged_df.dropna(subset=['review_count']).loc[:, ['id', 'name', 'review_count']].rename(columns={'id': 'recipes_id'})
merged_df.head()

    recipes_id                                 name  review_count
48       95926           Say what   banana sandwich           2.0
55       95926           Say what   banana sandwich           4.0
66      306168               412 broccoli casserole          18.0
91       95534  Da best  chicago style italian beef           4.0
94       95534  Da best  chicago style italian beef           4.0

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [23]:
recipes.sort_values(['name_word_count']).to_csv('result_recipes.csv')
reviews.to_csv('result_reviews.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [27]:
with pd.ExcelWriter('Рецепты с оценками.xlsx') as file:
    merged_df.to_excel(file)

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3